/*.bgImage{
    background-size: 200px 200px;
    background-image: url(./home/moringa/Desktop/lydo-restaurant/assets/images/moving 1.png);
}
#nav{
    display: inline-block
    background-color: blue;
}*/

.header{
    border-color: cadetblue;
    
    border-bottom-style: groove;
    border-bottom-width: 1px;
    width: 100%;
}
#nav{
   
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 70%;
}
.header>#nav > li{
    margin: 11px;
    margin-top: 20px;
    padding: 5px;
    padding-right: 0%;

}
.header>#nav > li>a{
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 5px;
    font-size: smaller;
    
}
#white{
    color: white;
}
a:hover{
    background-color: cadetblue;
    color: black;
}
#y-b:hover{
    background-color: cadetblue;
}
#y-b{
    background-color: yellow;
    color: black;
    padding: 3px;
    border-radius: 2px;
}
#b-y:hover{
    background-color: cadetblue;
    color: black;
}
#b-y{
    background-color: black;
    color: yellow;
    padding: 6px;
    border-radius: 2px;
}
.bgImage{
    height: 600px;
    width: 90%;
    background-size: 900px 560px;
    
    background-image: url("./assets/images/moving\ 1.png");
    background-repeat: no-repeat;

}
.sect1{
    width: px;
    align-items: center;
    margin-left: 150px;
}
.sect1 >#p1{
    font-size: 40px;
    color: yellow;
    width: 300px;
}
.sect1 > #p2{
    font-size: x-large;
    width: 300px;
}
.cut{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-basis: 100%;
}
.right{
    width: 220px;
    margin-left: 70px;
    padding-top: 60px;
}
.right > h3{
    font-size: xx-large;
}
.right > p{
    font-size: larger;
    margin-bottom: 40px;
}
.right> a >button{
    padding: 7px;
    color: yellow;
    background-color: black;
    border-radius: 3px;
}
.right> a >button:hover{
    background-color: lightskyblue;
    color: white;
}
.topmovers{
    background-color: azure;
    width: 780px;
    padding-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.movers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#tiny{
    /*justify-content: ;*/
    
}
#tiny > a >button{
    padding-left: 26px;
    padding-right: 26px;
    border-width: 0px;
    border-color: dimgray;
    margin: 0px;
    background-color: lightgrey;
}
#tiny > a >button:hover{
    background-color: dimgray;
    color: white;
}

.rad{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.topmovers > .movers >div{
    margin-bottom: 10px;
    border-radius: 5px;
   
}
.footer{
    background-color: black;
    width: 100%;
    height: 400px;
}
.footer > .move{
    display:flex;
    justify-content: space-between;
    padding: 20px;
   
    font-size: x-large;
    color: white;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: dimgrey;
}
#a{
    color: yellowgreen;
}
.f-lower{
    display: flex;
    
}
#links{
    display: flex;
    justify-content: space-between;
   
}
#links > div{
    margin: 60px;
    color:azure;
}
.socialmedia{
    display: inline-block;
    
    width: 130px;
    align-items: baseline;
    padding-top: 110px;
}
.socialmedia > a {
    margin: 10px;
    margin-top: 150px;
    background-color: white;
}
body{
    background-color: azure;
    width: 70%;
}
.A+{
    justify-content: center;
}
img{
    max-width: 100%;
}
@media only screen and (max-width:400px) {
    .cut{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    .movers{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
}
